:root{
    --bgColor: #EEE9DD;
    --mainColor:  #31312D;
    --footerAccent: #49484A;
    --bgAccent: #dfdbd1;

    --darkBg: #717172;
    --darkMain: #DEDED0;
}
html{ 
    scroll-behavior: smooth;
    cursor: pointer;
}

/* todo Add darkMode support */

html, body{
    margin: 0;
}

body{
    background: var(--bgColor);
    height:100%;

    transition: background-color 200ms;
}

svg{
    position: absolute;
    left: 20px;
    width: 40px;
    height: 40px;
    transition: 1s ;
    
}

svg:hover{
    transform: rotate(180deg);
    width: 49px;
    height: 51px;
}

.header{
    /* text-align: start; */
    position: sticky;
    top: 10px;

   
    
}
ul{
    display: flex;
    gap: 50px;
    justify-content: end;
    background-color: none;
}

div{
    margin:0 auto;
    text-align: center;
}

.intro{
    display: flex;
    margin-top: 85px;
}

.mainIntro{
   
    border: 1px solid var(--mainColor);
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 567px; /*todo change this to max-width some how so that the image doesnt get fucked when changing it*/
    height: 456px;
    font-size: 42px;
    font-weight: 600;
    margin-right: 120px;
    
}

.introImg{
    border: 1px solid var(--mainColor);
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 396px; /*todo change this to max-width some how so that the image doesnt get fucked when changing it*/
    height: 328px;
    margin-right: 350px;
    margin-top: 52px;
    min-width: 200px;
    
}


.line{
    margin-top: 50px;
    background: black;
    height: 1px;
    max-width:988px ;
    
}
.lineOne{
    margin-top: 150px;
    background: black;
    height: 1px;
    max-width:988px ;
}
.lineShort{
    background: black;
    height: 1px;
    max-width: 657px;
    margin-top: 115px;
}
#languageCarousel{
    height: 120px;
}

a{
    text-decoration: none;
    font-size: 24px;
    text-shadow: 0 1px 3px var(--bgColor);
}
li{
    list-style: none;
}

a:visited{
    color: var(--mainColor);
}

a:link{
    color: var(--mainColor);
}

a:hover{ 
    filter: blur(.75px);
    /* todo Make so that its blurred if its the active tab? */
}



.contact > p{
    max-width: 726px;
    font-size: 20px;
}

.contact{
    text-align: left;
    max-width: 1000px;
    
}

.contactInput{
    width: 399px;
    height: 31px;
    border: 1px solid #000;   
    background: var(--bgColor);
    
}
.contactInput:focus{
    outline: none;
    box-shadow: 0 0 3px grey;
    
}

.contact >p {
    max-width: 726px;
}

.inputFields{
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: flex-end;
    margin-right: 250px;
    position: relative;
    right: -200px;
    margin-top: 150px;
}

.contactInput:hover{
    background: var(--bgAccent);
}

#messageInput{
    height: 5rem; 
    resize: none;  
    
}



footer{
    background: var(--footerAccent);
    margin: 0;
    height: 57px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
}

.aboutInfo{
    max-width: 972px;
    margin-left: 60px;
}

.about{
    max-width: 1000px;
    text-align: left;
    font-size: 18px;
    font-weight: 500;
    
}
.boldInfo{
    font-weight: 600;

    
}
.italicInfo{
    font-weight: 400;
    
}

.projectDivs{
    max-width: 994px;
    height: 201px;
    border-radius: 20px;
    border: 1px solid var(--darkMain);
    box-shadow: 0 0 3px #000;
    margin-top: 40px;
    
}

#submitForm{
    border-radius: 15px;
    border: 1px black solid;
    background: none;
}

#submitForm:hover{
    background: var(--bgAccent);
}

.projects{
    text-align: left;
    max-width: 1000px;
}

#linkedIn{
    filter: brightness(0.9) saturate(00%);
}

.iconsFoot{
    margin-left: 20px;
    margin-top: 10px;
    transition: 1s;
}

.iconsFoot:hover{
    scale: 1.2;
    
}


#languageHolder{
    max-width: 650px;
    display: flex;
    position: relative;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding-top: 3rem;
    
}

.langElement{
    width: 120px;
    height: 120px;;
    box-sizing: border-box;
}


#languageCarousel{
    height: fit-content;
    max-width: 650px;
}

#languageCarousel[data-animated="true"]{
    overflow: hidden;
    --webkit-mask: linear-gradient(90deg, transparent,white 20%, white 80%, transparent);
    mask: linear-gradient(90deg, transparent,white 20%, white 80%, transparent);
}

#languageCarousel[data-animated="true"] #languageHolder{
    /* width: max-content; */
    flex-wrap: nowrap;
    animation: scroll 20s linear infinite;
}

@keyframes scroll{
    to{
        transform: translate(calc(-190% - 0.5rem)); /* *HGDFJ AHGDFAJH FDASHJFAHSJDJ HASDF*/
    }
}

.colorMode{
    width: 70px;
    height: 35px;

    margin: 0;
    position: relative;
    
}

.sun, .moon{
    width: fit-content;
    height: fit-content;
    transition: transform .5s ease;
    
}

.moon{
    position: absolute;
    inset: 0;
}

.moon-logo{
    opacity: 0;
    transform: translateY(20%) rotateZ(50deg);
    transition: all 1s ease;
}

.sun-logo{
    opacity: 1;
    transform: translateY(0%) rotateZ(0deg);
    transition: all 1s ease;
}

.animate-sun{
    opacity: 0;
    transform: translateY(20%) rotateZ(100deg);
    
}

.animate-moon{
    opacity: 1;
    transform: translateY(0%) rotateZ(0deg);

}

.sun:hover, .moon:hover{
    transform: scale(1.2);
}


.dark{
    background: var(--darkBg); 
    color: var(--darkMain) ;
}



/* todo Animation isnt lined up still and need to make it repeat somehow, its still showing empty space even tho i have a lot of content there */
/* todo AND DARK MODE TOO */

@media(max-width:1200px ) and (min-width:601px){

    .mainIntro{
        position: relative;
        left: 200px;
        width: 600px ;
    }
    .introImg{
        width: 400px;
        position: relative;
        left: 200px;
    }
}

@media (max-width:600px){
    body{
        padding: 5px;
        padding-bottom: 0;
    }
    .intro{
        display: inline-block;
    }
    .mainIntro{
        width: 300px;
        position:relative;
        right: 280px;
    }
    .introImg{
        width: 300px;
        height: auto;
        position: relative;
        margin-left: 80px;
    }
}

